---
layout: default
---

<div class="home">
  {%- if page.title -%}


    <h1 class="page-heading">{{ page.title }}</h1>

  {%- endif -%}


<font size="2" face="georgia">

  <h1>Who are we?</h1>

  <div class="post-content e-content">
    <p align="justify">We are an innovative engineering company providing integrated solutions on Acoustics, Pro Audio/Video, Lighting and FM/Internet Radio broadcasting.
          In these domains, we provide consultancy and projection execution services.</p>

  <p align="justify">Ours is a Private Limited Company incorporated by the Ministry of Corporate affairs, Government of India under the companies law 1956 (Number 1 of 1956).</p>

  <p align="justify"> <em>“Varpas”</em> - a Samskrutam word of Vedic origin meaning “image”  or “design”, which incidentally signifies the company’s effort to
    help our client in the preparation and delivery of quality aural and visual content for effective communication with their subjects.</p>

  <p align="justify">Incidentally, the word, <em>Varpas</em> represents the sectors we operate - <em>Video, Audio, Radio, Product development,
    Acoustics and Surveillance.</em></p>

  <p align="justify"><em>Varpas</em> is a team of committed, qualified and experienced professionals working in sync with the state-of-the-art
    technology for delivering the optimum, economical and professional solutions for their clients.</p>
  </div>




  <h1>Domains</h1>

    <div class="post-content e-content">


      <em>Varpas</em> offers its professional acoustics, Audio, Video and RF broadcast engineering services in the following domains:
<ul>
<li> Auditoriums</li>
<li> Seminar halls, board/meeting rooms etc</li>
<li> e-Classrooms</li>
<li> Radio broadcast facilities for both community radio and commercial private FM.</li>
<li> Internet radio and podcasting</li>
<li> Workflow for educational TV studios and post production facilities.</li>
<li> CCTV and surveillance</li>
<li> Home theatres</li>
<ul>
</p>
    </div>



  <h1>Our Solutions</h1>
    <div class="post-content e-content">
    <p style= align="justify">

      <em>Varpas</em> provides end-to-end turnkey solution for the establishment of solutions and systems for content creation, professional audio, video, broadcast and allied sectors. It starts from understanding the idea and requirement of the client, to translate it as a solution, designing a system to meet the solution, advisory on choice of equipments so that, client can get value for their investment, supply of equipments and other material, installation, testing and commissioning of the system, training on operation and maintenance of the installed system.

<em>Varpas</em> always had been a holding hand for its clients which support them to achieve the envisaged solution in an optimized and professional way comprehending their business of operation. Below are listing of the services offered by Varpas.


</p>

<ul>
<li> Advisory on the Government policy on Private FM/Community Radio, TV broadcasting and distribution by Satellite/Cable, guidance on licensing process etc.</li>
<li> Preparation of the Detailed Project Report containing  technical specification, BOQ, drawings, tender documents etc as per the organizational requirements.</li>
<li> Site preparatory works viz Civil/Electrical/HVAC engineering works as per the site requirement and providing details, design and drawings for the work execution.</li>
<li> All works related with the interiors viz Acoustics, Installed audio, Video projection,  IT, Stage and FoH lighting system, Proscenium , Drapery, Seating,  CCTV, Fire alarm, Cat walk structure etc.</li>
<li> Third party inspection and validation of the  work carried out on Electricals, Acoustics (as per ISO 3382 standard), Sound, Lighting and HVAC by  test and measurements and documentation.</li>
<li> Training pertaining to our domain knowledge</li>

<ul>
    </div>

  {%- if site.posts.size > 0 -%}
    <!--h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2-->
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <!--span class="post-meta">{{ post.date | date: date_format }}</span-->
        <h3>
          <!--a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a-->
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}

      </li>
      {%- endfor -%}
    </ul>

    <!--p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p-->
  {%- endif -%}

</div>
